language: java

jdk:
  - openjdk8

env:
  global:
    - TESTENV_BROKER_URL=https://ws.15xr.msb.oss.cell.vfk.fraunhofer.de/
    - TESTENV_SO_URL=https://so.15xr.msb.oss.cell.vfk.fraunhofer.de/
    - TESTENV_FLOW_URL=https://flow.15xr.msb.oss.cell.vfk.fraunhofer.de/

cache:
  directories:
    - $HOME/.m2

before_install:
  # Use TRAVIS_TAG if defined, or the short commit SHA otherwise
  - export VERSION=${TRAVIS_TAG:-$(git rev-parse --short HEAD)}

install: true

script:
  - mvn clean install -DskipITs -q sonar:sonar -Pcoverage -Dsonar.projectKey=research-virtualfortknox_msb-client-websocket-java
  - sed -i -e "s/VERSION_NAME/${VERSION}/g" ./bintray.json || true

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - mvn test jacoco:report coveralls:report -DrepoToken=${COVERALLS_TOKEN}

deploy:
    on:
      tags: true
    provider: bintray
    skip_cleanup: true
    file: bintray.json
    user: $BINTRAY_USER
    key: $BINTRAY_API_KEY

addons:
  sonarcloud:
    organization: "research-virtualfortknox"
    token: ${SONAR_TOKEN}